<script id="taskList" type="text/x-handlebars-template">
    <ul class="list-group">
        {{#each tasks}}
            <li class="list-group-item">
                <a href="/tasks/{{id}}/{{#if completed}}uncomplete{{else}}complete{{/if}}">
                    <div style="float: left; width: 20px;">
                        {{#if completed}}
                            <span class="glyphicon glyphicon-check" style="color: green;"></span>
                        {{else}}
                            <span class="glyphicon glyphicon-unchecked" style="color: black;"></span>
                        {{/if}}
                    </div>
                </a>
                <div style="float: left; width: auto">{{title}}</div>
                <a href="/tasks/{{id}}/destroy">
                    <div style="float: right; width: 20px;">
                        <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                    </div>
                </a>
                <div style="clear:both"></div>
            </li>
        {{/each}}
    </ul>
</script>